h1 {
  font-family: 'Pokemon Solid', sans-serif;
}

.detail-container {
    max-width: 600px;
    margin: 2rem auto;
    text-align: center;
    border: 5px solid #797900;
    background-color: #000086;
    border-radius: 15px;
    color: #fff;
    padding: 15px;

    img {
      width: 200px;
      height: 200px;
      object-fit: contain;
      margin: 1rem 0;
    }
  
    .info {
      text-align: left;
      margin-top: 1rem;
      
      p {
        margin: 0.5rem 0;
      }
  
      ul {
        padding-left: 1.5rem;
      }
    }
}

.back-button {
    margin-bottom: 1rem;
    background: none;
    border: none;
    color: #007bff;
    font-size: 1rem;
    cursor: pointer;
  
    &:hover {
      text-decoration: underline;
    }
}