/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Pokemon Hollow';
    src: url('/fonts/Pokemon Hollow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'Pokemon Solid';
    src: url('/fonts/Pokemon Solid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: sans-serif;
}