/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Pokemon Hollow';
    src: url('/fonts/Pokemon Hollow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'Pokemon Solid';
    src: url('/fonts/Pokemon Solid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$font-base: sans-serif;
$font-title: 'Pokemon Solid', sans-serif;

body {
    font-family: $font-base;
    background: linear-gradient(to bottom, #000000, #192c3d);
    min-height: 100vh;
}

h1, h2 {
    font-family: $font-title;
    color: #ffb300;
}